<p-table
        #dt1
        [value]="isFilter ? booksFilterSearch : (isTitle ? booksByTitle : booksByAuthor)"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input name="valueSearch" pInputText type="text" [(ngModel)]="valueSearch" (input)="filterSearch(valueSearch)" [placeholder]="placeHolder" />
                </span>
                <button *ngIf="addNew===true" style="margin-left: 15px;" pButton label="Add new Book" (click)="AddNew()" class="p-button-outlined" icon="pi pi-plus-circle"></button>
                <button *ngIf="addNew===false" style="margin-left: 15px;" pButton label="Search" (click)="searchByFilterButtonClick()" class="p-button-outlined" icon="pi pi-search"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title">title<p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="author">Author<p-sortIcon field="author"></p-sortIcon></th>
                <th pSortableColumn="publicationYear">Publication Year<p-sortIcon field="publicationYear"></p-sortIcon></th>
                <th pSortableColumn="isbn">ISBN<p-sortIcon field="isbn"></p-sortIcon></th>
                <th>Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                <td>
                    {{ book.title }}
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ book.author }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ book.publicationYear }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ book.isbn }}</span>
                </td>
                <td>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="showConfirmation(book.title)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Books found.</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="displayModal" [header]="'Information Book'">
    
        <span name="messageModal">{{messageModal}}</span>
        
    </p-dialog>

    <p-dialog [(visible)]="displayModalConfirmation" [header]="'Informacion'">
    
        <span name="messageModalConfirmation">{{messageModalConfirmation}}</span>
        <div class="alignEnd">
            <button pButton label="Cancel" (click)="displayModalConfirmation = false" class="p-button-danger" icon="pi pi-times"></button>
            <button style="margin-left: 15px;" pButton label="Confirm" (click)="confirmDelete()" class="p-button" icon="pi pi-check"></button>
        </div>
    </p-dialog>

    <p-dialog [(visible)]="modalAddBook" [header]="'Add new BOOK'">
    
        <p-fieldset legend="Book Data">
            <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
          </p-fieldset>
    
          <ng-template #customTemplate>
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6">
                <label for="title">Title</label>
                <input name="title" pInputText [(ngModel)]="newBook.title" type="text" id="title">
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="author">Author</label>
                <input name="author" pInputText [(ngModel)]="newBook.author" type="text" id="author">
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="publicationYear">Publication Year</label>
                <p-inputNumber name="publicationYear" [(ngModel)]="newBook.publicationYear" [min]="0" [max]="9999" id="publicationYear" />
              </div>
              <div class="p-field p-col-12 p-md-6">
                <label for="isbn">ISBN</label>
                <input name="isbn" pInputText [(ngModel)]="newBook.isbn" type="text" id="isbn">
              </div>
            </div>
            <div class="alignEnd">
                <button pButton label="Cancel" (click)="modalAddBook = false" class="p-button-danger" icon="pi pi-times"></button>
                <button style="margin-left: 15px;" pButton label="Confirm" (click)="confirmCreate()" class="p-button" icon="pi pi-save"></button>
            </div>
          </ng-template>
    </p-dialog>
